<header class="top-header">
	<div class="container">
	  <nav class="navbar">
	    <div class="navbar-header">
	    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">LOGO</a>
		</div>
		
		<div class="collapse navbar-collapse js-navbar-collapse">
			<ul class="nav navbar-nav">
				<li> <a href="#">Home</a> </li>
				<li> <a href="#">About</a> </li>
	            <li class="dropdown mega-dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>				
					<ul class="dropdown-menu mega-dropdown-menu">
						<li><a href="#">Auto Carousel</a></li>
		                <li><a href="#">Carousel Control</a></li>
		                <li><a href="#">Left & Right Navigation</a></li>
						<li><a href="#">Four Columns Grid</a></li>
					</ul>				
				</li>
	            <li><a href="#">Contact</a></li>
			</ul>
		</div><!-- /.nav-collapse -->
	  </nav>
	</div>
</header>
<section class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
	  	<p>Labore dolore amet et ad proident sit ex tempor non qui dolor mollit laborum commodo. Nostrud in aliquip est veniam occaecat enim mollit fugiat in in.</p>
	</div>
</section>
<main>
    <section class="container">
	    <div class="row vertical-align">
	    	<div class="col-md-8">
	    		<h2>Ut Veniam</h2>
	    		<p>Lorem ipsum proident veniam amet laborum culpa esse consectetur ut tempor sed qui ad enim cupidatat labore in veniam in ex laborum occaecat culpa enim est officia sunt in fugiat nulla eu ut quis ex sit in.</p>
	    		<button class='btn btn-sm btn-default'>More</button>
	    	</div>
	    	<div class="col-md-4">
	    		<h4 class="text-bold text-center">Anim mollit ad cupidatat.</h4>
	    	</div>
	    </div>
	    <div class="row vertical-align">
	    	<div class="col-md-3">
	    		<h4 class="text-bold text-center">Lorem ipsum sint sint quis aute sit</h4>
	    	</div>
	    	<div class="col-md-9">
	    		<h2>Ut Veniam</h2>
	    		<p>Ex fugiat ut ullamco est veniam quis cupidatat ut officia adipisicing sed eu elit enim eu magna fugiat anim ea incididunt consequat. Quis amet non culpa deserunt elit aliquip et aliqua cupidatat pariatur et commodo ullamco deserunt occaecat eu enim nostrud incididunt ea commodo reprehenderit elit amet elit ut.</p>
	    		<button class='btn btn-sm btn-default'>More</button>
	    	</div>
	    </div>
	    <div class="row">
    		<menu-list></menu-list>
	    </div>
    </section>
</main>
<footer>
	<div class="container">
		<div class="row"><!-- row -->            
		    <div class="col-md-3"><!-- widgets column left -->
		        <ul class="list-unstyled clear-margins"><!-- widgets -->                
		        	<li class="widget-container widget_nav_menu"><!-- widgets list -->    
		                <h4 class="title-widget">Useful links</h4>
		                
		                <ul>
		                	<li><a  href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>Menu</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>Contacts</a></li>
		                </ul>
		    
					</li>
		            
		        </ul>          
		    </div><!-- widgets column left end -->
		                
		    <div class="col-md-3"><!-- widgets column left -->
		        <ul class="list-unstyled clear-margins"><!-- widgets -->
		                
		        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
		    
		                <h4 class="title-widget">Useful links</h4>
		                
		                <ul>
							<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Satellite Education</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Study Centres</a></li>
		                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  State P.G. Mocks</a></li>
		                    <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Results</a></li>
		                    
		                </ul>
		    
					</li>
		            
		        </ul>  
		    </div><!-- widgets column left end -->
		                
		    <div class="col-md-6"><!-- widgets column center -->
				<ul class="list-unstyled clear-margins"><!-- widgets -->		    
					<li class="widget-container widget_recent_news"><!-- widgets list -->
					    <h4 class="title-widget">Contact Detail </h4>
					    <div class="social-icons">
					    
					    	<ul class="nomargin">			        
								<a href="https://www.facebook.com/bootsnipp">
									<i class="fa fa-facebook-square fa-3x social-fb" id="social"></i>
								</a>
								<a href="https://twitter.com/bootsnipp">
									<i class="fa fa-twitter-square fa-3x social-tw" id="social"></i>
								</a>
								<a href="https://plus.google.com/+Bootsnipp-page">
									<i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i>
								</a>
								<a href="mailto:bootsnipp@gmail.com">
									<i class="fa fa-envelope-square fa-3x social-em" id="social"></i>
								</a>			        
					        </ul>
					    </div>
					</li>
				</ul>
			</div>
	    </div>
	</div>
</footer>