
<div class="row">
	<div class="col-md-7">
		<div class="table-container">
			<table class="table table-filter" *ngIf="tblRows.length > 0">
				<tbody>
					<tr *ngFor="let tbRow of tblRows; let idx = index;">
						<td>
							<div class="media">
								<div class="media-body">
									<h2 class="title">{{tbRow.title}}</h2>
									<strong>{{tbRow.shortTitle}}</strong>
									<p class="summary">{{tbRow.summary}}</p>
								</div>
							</div>
						</td>
						<td>
							<button class="btn btn-sm btn-danger" (click)="deleteHandler(tbRow)">x</button>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-5">
		<form [formGroup]="form" (ngSubmit)="addRowHandler(form.value)">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title" >
          </div>
          <div class="form-group">
            <label for="shortTitle">Short Title</label>
            <input type="text" class="form-control" id="shortTitle" placeholder="Short Title" formControlName="shortTitle" >
          </div>
          <div class="form-group">
          	<label for="summary">Summary</label>
            <textarea id="summary" style="resize:vertical;" class="form-control" placeholder="Summary" rows="6" name="summary" formControlName="summary" ></textarea>
          </div>
          <button type="submit" class="btn btn-sm btn-success">Add</button>
        </form>
	</div>
</div>